pytest>=7.4.4
setuptools>=58.2.0
numpy>=1.26.4
lxml>=5.2.1
pathlib>=1.0.1
yaml>=0.2.5
pyyaml>=6.0.1
packaging>=23.2
empy>=3.3.4
flake8>=4.0.1
transforms3d>=0.4.2
# pymavlink should be installed from github-repository (mohamad-javad)